
\.DS_Store

backend/utils/__pycache__/

backend/utils/drf/__pycache__/

backend/users/__pycache__/

backend/users/migrations/

backend/users/tests/__pycache__/

backend/users/clinics/__pycache__/

backend/backend/__pycache__/

backend/backend/shared/__pycache__/

backend/scripts/__pycache__/

backend/htmlcov/

\.idea/

backend/d2\.json

media/

backend/\.coverage

backend/tmp/

clinics\.csv

esdata/

psg_mvp_backend/backend/utils/__pycache__/

psg_mvp_backend/backend/utils/drf/__pycache__/

psg_mvp_backend/backend/tags/__pycache__/

psg_mvp_backend/backend/users/__pycache__/

psg_mvp_backend/backend/backend/__pycache__/

psg_mvp_backend/backend/backend/shared/__pycache__/

psg_mvp_backend/backend/users/clinics/__pycache__/

psg_mvp_backend/backend/users/doctors/__pycache__/

psg_mvp_backend/backend/users/management/commands/__pycache__/

psg_mvp_backend/backend/users/migrations/

mongo_data/

data/

dump/core_db/

psg_mvp_backend/backend/scripts/__pycache__/

psg_mvp_backend/backend/cases/__pycache__/

psg_mvp_backend/backend/comments/__pycache__/

psg_mvp_backend/backend/comments/migrations/

psg_mvp_backend/backend/cases/migrations/

tmp

psg_mvp_backend/backend/cases/management/commands/__pycache__/

psg_mvp_backend/backend/issue1.txt

psg_mvp_backend/backend/urls.txt

psg_mvp_backend/backend/__pycache__/

psg_mvp_backend/static/

psg_mvp_backend/backend/reviews/__pycache__/

psg_mvp_backend/backend/reviews/management/commands/__pycache__/
