
\.DS_Store

backend/utils/__pycache__/

backend/utils/drf/__pycache__/

backend/users/__pycache__/

backend/users/migrations/

backend/users/tests/__pycache__/

backend/users/clinics/__pycache__/

backend/backend/__pycache__/

backend/backend/shared/__pycache__/

backend/scripts/__pycache__/

backend/htmlcov/

\.idea/

backend/d2\.json

media/

backend/\.coverage

backend/tmp/

clinics\.csv
